
.parent{
    background-color: rgb(191, 184, 184);
    border: 1px solid black;
    width: 1000px;
    height: 500px;
    text-align: center;
    position: relative;
    
}
.child-one{
    background-color: green;
   
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.child-two{
    background-color: red;
    height: 100px;
    width: 100px;
    
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.child-three{
    background-color: brown;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
/* .sec-right {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 20%;
    height: 520px;
    width: 80%;
} */